name: CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - h5py-version: "3.11.0"
            numpy-version: "2.1.0"
            python-version: "3.10"
          - h5py-version: "3.12.0"
            numpy-version: "2.2.0"
            python-version: "3.11"
          - h5py-version: "3.14.0"
            numpy-version: "2.3.2"
            python-version: "3.13"
          - h5py-version: "3.15.1"
            numpy-version: "2.3.4"
            python-version: "3.14"

    steps:
    - uses: actions/checkout@v6

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: "pip"

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install "h5py==${{ matrix.h5py-version }}" "numpy==${{ matrix.numpy-version }}"
        pip install -e .
        pip install --group test

    - name: Test with pytest
      run: |
        pytest

  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: "3.13"
        cache: "pip"
    - name: Install pre-commit
      run: |
        pip install --upgrade pip
        pip install pre-commit
    - uses: actions/cache@v4
      with:
        path: ~/.cache/pre-commit
        key: ${{ hashFiles('.pre-commit-config.yaml') }}
    - name: Run pre-commit
      run: |
        pre-commit run --all-files --show-diff-on-failure --color=always
